# ----- You need to set the following variables before running the script: ###
AGENT_MANAGER_SERVER=r4.siua.ac.cr
MY_USERNAME=tfgadmin
MY_PASSWORD=tfg12345
AGENT_AUTH_PASSWORD=Superpassword.123
INDEXER_PASSWORD=_S1M0V1L48_T7G_2025_.*-
API_PASSWORD=T6G.2026.frank.w
DASHBOARD_PASSWORD=Kibana.Password.2016

# ------ Change only if you know what you are doing, otherwise leave it as is.
TZ=America/Costa_Rica
DASHBOARD_USERNAME=kibanaserver
INDEXER_USERNAME=admin
API_USERNAME=wazuh-wui
API_URL=https://wazuh.manager:55000
SCRIPT_POST_INSTALL=scripts/wazuh-agent-conf.sh
DOCKER_GID=990
LOCAL_AGENT_HOSTNAME=localhost